<h1 class="text-center mt-4"> Categories </h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

<div class="container-fluid container-md">
  <div class="row">
  <% @categories.each do |category| %>
      <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="card text-center shadow mb-4 bg-white rounded">
          <div class="card-body">
            <h3 class="card-title"> 
              <%= link_to category.name, category_path(category), class: "text-info" %>
            </h3>
            <p class="card-text"> <%= pluralize(category.articles.count, "article") %> </p>
          </div>
          <div class="card-footer text-muted">
            <small> Created <%= time_ago_in_words(category.created_at) %> ago,
            edited <%= time_ago_in_words(category.updated_at) %> ago </small>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>

<div class="flickr_pagination mb-4">
  <%= will_paginate @categories, :container => false %>
</div>
